{% extends 'main.html' %}
<!-- prettier-ignore -->
{% block content %}
<!-- breadcrumbs -->
{% block breadcrumbs %}
<div>
  <a href="{% url 'home' %}" class="breadcrumbs font-medium">Главная</a>
  <a
    href="{% url 'company_detail' application.company.slug %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; {{ application.company.name|truncatechars:50 }}</a
  >
  <a
    href="{% url 'company_application_list' application.company.slug %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; {{ "Список заявок компании" }}</a
  >
  <a
    href="{% url 'application_detail' application.company.slug application.pk %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; Заявка № {{ application.number }} от {{ application.date|date:'SHORT_DATE_FORMAT' }} </a
  >
  {% block crumbs %}
  <span class="breadcrumbs">
    <!-- prettier-ignore -->
    {% if title %} &rsaquo; {{ title }} {% endif %}
  </span>
  <!-- prettier-ignore -->
  {% endblock%}
</div>
{% endblock %}
<!-- end of breadcrumbs -->
<!-- data section -->
<section>
  <div
    class="bg-white sm:grid grid-cols-5 grid-rows-2 px-4 py-6 sm:gap-4"
  >
    <div class="max-h-full col-span-4 bg-white rounded-md flex items-center">
      <div class="my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
        <div class="align-middle inline-block min-w-full overflow-hidden bg-white">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
                >
                  Номер документа или письма об одобрении
                </th>
                <th
                  class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"
                >
                  Номер формы
                </th>
                <th
                  class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"
                >
                  Детали документа (для материалов и изделий)
                </th>
                <th class="px-6 py-3 border-b-2 border-gray-300"></th>
              </tr>
            </thead>
            <tbody class="bg-white">
              {% for document in documents %}
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                  <div class="flex items-center">
                    <div>
                      <div class="text-sm leading-5 text-gray-800">
                        {{ document.number }}
                      </div>
                    </div>
                  </div>
                </td>
                <td
                  class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5"
                >
                  {{ document.form }}
                </td>
                <td
                  class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5"
                >
                  {{ document.item_particulars }}
                </td>
                <td
                  class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5"
                >
                  <a
                    href="{{ document.get_absolute_url }}"
                    class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none"
                  >
                    Подробнее
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include 'pagination.html' %}
        </div>
    </div>
    </div>
    <div class="max-h-full col-span-1">
      {% comment %} <div>
        <form role="search" method="get" action="{% url 'search_employee' %}">
          {% csrf_token %}
        <input
          type="search"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-4 p-2"
          placeholder="Найти работника..."
          name="do"
          autocomplete="off"
          id="search_employee"
        />
        </form>
      </div> {% endcomment %}
      <div
        class="bg-white py-3 px-4 rounded-lg flex justify-around items-center"
      >
        <form role="search" method="get" action="{% url 'search_staff' company.slug %}">
          <input
            type="search"
            placeholder="Поиск..."
            class="bg-gray-100 rounded-md outline-none pl-2 ring-indigo-700 w-full mr-2 p-2"
            name="do"
            autocomplete="off"
            id="search_staff"
          />
        </form>
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor "
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              /></svg
          ></span>
        
      </div>
      <div class="bg-white rounded-md">
        <h1
          class="text-center text-xl my-4 bg-gray-100 py-6 rounded-md border-b-2 cursor-pointer text-gray-600"
        >
          <a href="{% url "document_create" company.slug application.pk %}" type="button" class="list-none hover:text-indigo-600">
              Добавить документ</a
          >
        </h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}
