{% extends 'main.html' %}
<!-- prettier-ignore -->
{% block content %}
<!-- breadcrumbs -->
{% block breadcrumbs %}
<div>
  <a href="{% url 'home' %}" class="breadcrumbs font-medium">Главная</a>
  <a
    href="{% url 'company_detail' company.slug %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; {{ company.name|truncatechars:50 }}</a
  >
  {% block crumbs %}
  <span class="breadcrumbs">
    <!-- prettier-ignore -->
    {% if title %} &rsaquo; {{ title }} {% endif %}
  </span>
  <!-- prettier-ignore -->
  {% endblock%}
</div>
{% endblock %}
<!-- end of breadcrumbs -->
<div class="flex space-x-2 items-center justify-center px-4">
  {% if bank_accounts %}
  {% for account in bank_accounts %}
    <div class="max-w-md bg-white rounded-lg shadow-xl">
    <!-- Заголовок -->
    <div class="p-4 border-b">
      <h2 class="text-xl ">
        {% if account.account_currency == "RUB" %}
          {% if account.regional_treasury_account %}
            {{ "Рублёвый счёт: казначейский" }}
          {% else %}
            {{ "Рублёвый счёт: банковский" }}
          {% endif %}
        {% else %}
          {{ "Валютный счёт" }}
        {% endif %}
      </h2>
      <p class="text-sm text-gray-500">
        {{ account.company }}.
      </p>
    </div>
    <!-- Тело -->
    <div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <p class="text-gray-600">
              Банк
            </p>
            <p>
                {{ account.bank }}
            </p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <p class="text-gray-600">
              Номер счёта
            </p>
            <p>
              {{ account.bank_account }}
            </p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <p class="text-gray-600">
              Валюта счёта
            </p>
            <p>
              {{ account.get_account_currency_display }}
            </p>
        </div>
        <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <p class="text-gray-600">
              Текущий счёт
            </p>
              {% if account.current_bankaccount == True %}
              <p><input type="checkbox" checked disabled/></p>
              {% else %}
              <p><input type="checkbox" disabled/></p>
              {% endif %}
        </div>
    </div>
    <!-- Футер -->
    <div class="md:col-span-4 text-right px-4 py-2">
        <div class="inline-flex items-end">
          <a
            href="{% url "bankaccount_delete" company.slug account.id %}"
            type="button"
            class="mr-4 bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-2 rounded"
          >
            Удалить счёт
          </a>
          {% comment %} <a
            href="{% url "bank_detail" company.slug account.pk account.bank.id %}"
            type="button"
            class="mr-4 bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-2 rounded"
          >
            Реквизиты банка
          </a> {% endcomment %}
          <a
            href="{% url "bankaccount_update" company.slug account.id %}"
            type="button"
            class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-2 rounded"
          >
            Редактировать
          </a>
        </div>
    </div>
    </div>
      {% if bank_accounts|length < 2 %}
        <!-- Кнопка Добавить -->
        <div class="pl-10">
          <a
            href="{% url "bankaccount_create" company.slug %}"
            type="button"
            class="m-4 bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded"
          >
            Добавить счёт
          </a>
        </div>
      {% endif %}
  {% endfor %}
  {% else %}
    <!-- Кнопка Добавить -->
    <div>
      <a
        href="{% url "bankaccount_create" company.slug %}"
        type="button"
        class="m-4 bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded"
      >
        Добавить счёт
      </a>
    </div>
  {% endif %}
</div>
{% endblock %}
