{% extends 'main.html' %}
<!-- prettier-ignore -->
{% block content %}
<!-- breadcrumbs -->
{% block breadcrumbs %}
<div>
  <a href="{% url 'home' %}" class="breadcrumbs font-medium">Главная</a>
  <a
    href="{% url 'company_detail' vesselextrainfo.application.company.slug %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; {{ vesselextrainfo.application.company.name|truncatechars:50 }}</a
  >
  <a
    href="{% url 'company_application_list' vesselextrainfo.application.company.slug %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; {{ "Список заявок компании" }}</a
  >
  <a
    href="{% url 'application_detail' vesselextrainfo.application.company.slug vesselextrainfo.application.id %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; Заявка № {{ vesselextrainfo.application.number }}</a
  >
  {% block crumbs %}
  <span class="breadcrumbs">
    <!-- prettier-ignore -->
    {% if title %} &rsaquo; {{ title }} {% endif %}
  </span>
  <!-- prettier-ignore -->
  {% endblock%}
</div>
{% endblock %}
<!-- end of breadcrumbs -->
{% comment %} grid grid-flow-col auto-cols-max {% endcomment %}
<div class="flex space-x-2 items-center justify-center px-4">
    <div class="max-w-4xl bg-white rounded-lg shadow-xl">
        <div class="p-4 border-b">
            <h2 class="text-2xl ">
                Доп. инфо по заявке № {{ vesselextrainfo.application.number }}
            </h2>
        </div>
        <div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-2 p-4 border-b">
                <p class="text-gray-600">
                    Состояние класса судна
                </p>
                <p class="px-4">
                    {{ vesselextrainfo.get_class_status_display }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-2 p-4 border-b">
                <p class="text-gray-600">
                    Место предыдущего освидетельствования
                </p>
                <p class="px-4">
                    {{ vesselextrainfo.city|default_if_none:'' }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Дата предыдущего освидетельствования
                </p>
                <p class="px-4">
                    {{ vesselextrainfo.previous_survey_date|date:'SHORT_DATE_FORMAT' }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Дата последней проверки судна властями государства порта
                </p>
                <p class="px-4">
                    {{ vesselextrainfo.last_psc_inspection_date|date:'SHORT_DATE_FORMAT' }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Результат последней проверки судна властями государства порта
                </p>
                <p class="px-4">
                    {{ vesselextrainfo.last_psc_inspection_result }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Дата окончания срока предписанного освидетельствования или выполнения требования
                </p>
                <p class="px-4">
                    {{ vesselextrainfo.due_date|date:'SHORT_DATE_FORMAT' }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                   Предполагаемая дата завершения текущего освидетельствования
                </p>
                <p class="px-4">
                  {{ vesselextrainfo.completion_expected_date|date:'SHORT_DATE_FORMAT' }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Исполнители заявки
                </p>
                <div>
                {% for assigned_surveyor in vesselextrainfo.assigned_surveyors.all %}
                <p class="px-4">
                    {{ assigned_surveyor }}
                </p>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="md:col-span-4 text-right px-4 py-3">
            <div class="inline-flex items-end gap-4">
              {% comment %} <a
                href="{% url "application_delete" company.slug %}"
                type="button"
                class="mr-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              >
                Удалить доп. инфо
              </a> {% endcomment %}
              <a
                href="{% url "vesselextrainfo_update" vesselextrainfo.application.company.slug vesselextrainfo.application.id %}"
                type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Обновить доп. инфо по судну и заявке
              </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
