{% extends 'main.html' %}
<!-- prettier-ignore -->
{% block content %}
<!-- breadcrumbs -->
{% block breadcrumbs %}
<div>
  <a href="{% url 'home' %}" class="breadcrumbs font-medium">Главная</a>
  <a
    href="{% url 'company_detail' account.application.company.slug %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; {{ account.application.company.name|truncatechars:50 }}</a
  >
  <a
    href="{% url 'company_application_list' account.application.company.slug %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; {{ "Список заявок компании" }}</a
  >
  <a
    href="{% url 'application_detail' account.application.company.slug account.application.id %}"
    class="breadcrumbs font-medium"
  >
    &rsaquo; Заявка № {{ account.application.number }}</a
  >
  {% block crumbs %}
  <span class="breadcrumbs">
    <!-- prettier-ignore -->
    {% if title %} &rsaquo; {{ title }} {% endif %}
  </span>
  <!-- prettier-ignore -->
  {% endblock%}
</div>
{% endblock %}
<!-- end of breadcrumbs -->
{% comment %} grid grid-flow-col auto-cols-max {% endcomment %}
<div class="flex space-x-2 items-center justify-center px-4">
    <div class="max-w-4xl bg-white rounded-lg shadow-xl">
        <div class="p-4 border-b">
            <h2 class="text-2xl ">
                Стоимость услуги по заявке № {{ account.application.number }}
            </h2>
        </div>
        <div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-2 p-4 border-b">
                <p class="text-gray-600">
                    Стоимость услуги (без НДС)
                </p>
                <p class="px-4">
                    {{ account.service_cost|default_if_none:'' }}
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-2 p-4 border-b">
                <p class="text-gray-600">
                    Доп. информация
                </p>
                <p class="px-4">
                    {{ account.extra_info }}
                </p>
            </div>
        </div>
        <div class="md:col-span-4 text-right px-4 py-3">
            <div class="inline-flex items-end gap-4">
              {% comment %} <a
                href="{% url "application_delete" company.slug %}"
                type="button"
                class="mr-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              >
                Удалить доп. инфо
              </a> {% endcomment %}
              <a
                href="{% url "print_doc" account.application.company.slug account.application.id %}?name=sheet"
                type="button"
                class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
              >
                Лист
              <a
                href="{% url "print_doc" account.application.company.slug account.application.id %}?name=acceptance"
                type="button"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              >
                Акт сдачи-приёмки
              </a>
              <a
                href="{% url "print_doc" account.application.company.slug account.application.id %}?name=agreement"
                type="button"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              >
                Договор-заявка
              </a>
              <a
                href="{% url "account_update" account.application.company.slug account.application.id %}"
                type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Обновить стоимость услуги
              </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
