<!DOCTYPE html>
<html lang="ru" class="dark">
  <head>
    {% load static tailwind_tags %}
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="data:image/png;base64,
      iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IA
      rs4c6QAAAe9JREFUOE+lk7trU2EYh58v55wkTSIhiDbFIVrrDUEsRVux
      Th2KQkE7KMWMLmLBP0B0kSyiuDgU6iI6tAoF8VIVRBEHFSPFpTalxIDF
      1kJCk5PbuX2SU5sIESHkXd/f97y/9/KJ2GTuKsgrQuCjhZCSKoiEiE1m
      K60+3qxTg4idd7OyhcJNUhfQu01hV1hxk7aUZPIOc2t2XawIGI5p7Iko
      LOZsUjkbS8L3vIMLSBwPAJL5rENN3B9V8atw4VURB5gYCpBed/jw06Kv
      U+VMj5c7cxWmU0YD8O6HycuMWa86dSrErWTZdXP/ZIjhmUI9d62/g4Wc
      /X/AxFCQB/NVPq9avD0b5tJrneSvjbZCWs0vFE0aDr5lLd4vWygeOBpV
      Ob/fx+iTAlUbjkUVEoNBVksO0wtVnqZNrFpv/AXoDnsomZKBLo3bX8o8
      TBnkjcaCBBvgsX1e9kYU4i90shXZPIN7w0Fm0yZTKcOtEPYKIn7hTnwz
      Lvf60TxwM1lpBkQDgpmRLYw918kUHAa6VMYP+4nP6nXAaI+Xg1sVrn8s
      /3sLp3drxA/4OPdM50hU5caJAF/XLB4tGq6ji4f8jL8psrT+5w76tius
      lCTLesPmSLfGpxULKaEz6KFDgcEdGkVT8njJcPX1IbZ1ym1/pna/828D
      6ACYqw/rCwAAAABJRU5ErkJggg=="
    />
    <!-- INCLUDE CSS -->
    {% tailwind_css %}
  </head>
  {% load static %}
  <body>
    {% include 'includes/messages.html' %}
    <div class="bg-white dark:bg-gray-900">
      <div class="flex justify-center h-screen">
        <!-- prettier-ignore -->
        <div
          class="hidden bg-cover lg:block lg:w-2/3"
          style="background-image: url({% static 'logo/login_cover_img.png' %});
                background-size: cover"
        >
          <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
            <div class="bg-blue-200 p-4 rounded-r-lg">
              <h2 class="text-4xl font-bold text-gray-500 px-12">Офис РС</h2>

              <p class="max-w-xl mt-3 text-gray-600 px-12">
                Создание договоров-заявок и актов сдачи-приёмки
              </p>
            </div>
          </div>
        </div>

        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
          <div class="flex-1">
            <div class="text-center">
              <h2
                class="text-4xl font-bold text-center text-gray-700 dark:text-white mb-6"
              >
                Авторизация
              </h2>

              {% comment %}
              <p class="mt-3 text-gray-500 dark:text-gray-300">
                Sign in to access your account
              </p>
              {% endcomment %}
            </div>

            <div class="mt-8">
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <!-- prettier-ignore -->
                {{ form.as_p }}
                <!-- prettier-ignore -->
                {% comment %}
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
                    >Email Address</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="example@example.com"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                </div>

                <div class="mt-6">
                  <div class="flex justify-between mb-2">
                    <label
                      for="password"
                      class="text-sm text-gray-600 dark:text-gray-200"
                      >Password</label
                    >
                    <a
                      href="#"
                      class="text-sm text-gray-400 focus:text-blue-500 hover:text-blue-500 hover:underline"
                      >Forgot password?</a
                    >
                  </div>

                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Your Password"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                </div>
                {% endcomment %}

                <div class="mt-6">
                  <button
                    type="submit"
                    class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50"
                  >
                    Авторизоваться
                  </button>
                </div>
              </form>

              {% comment %}
              <p class="mt-6 text-sm text-center text-gray-400">
                Don&#x27;t have an account yet?
                <a
                  href="#"
                  class="text-blue-500 focus:outline-none focus:underline hover:underline"
                  >Sign up</a
                >.
              </p>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
