<!DOCTYPE html>
<html lang="ru" class="dark">
  <head>
    {% load static tailwind_tags %}
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="data:image/png;base64,
      iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IA
      rs4c6QAAAe9JREFUOE+lk7trU2EYh58v55wkTSIhiDbFIVrrDUEsRVux
      Th2KQkE7KMWMLmLBP0B0kSyiuDgU6iI6tAoF8VIVRBEHFSPFpTalxIDF
      1kJCk5PbuX2SU5sIESHkXd/f97y/9/KJ2GTuKsgrQuCjhZCSKoiEiE1m
      K60+3qxTg4idd7OyhcJNUhfQu01hV1hxk7aUZPIOc2t2XawIGI5p7Iko
      LOZsUjkbS8L3vIMLSBwPAJL5rENN3B9V8atw4VURB5gYCpBed/jw06Kv
      U+VMj5c7cxWmU0YD8O6HycuMWa86dSrErWTZdXP/ZIjhmUI9d62/g4Wc
      /X/AxFCQB/NVPq9avD0b5tJrneSvjbZCWs0vFE0aDr5lLd4vWygeOBpV
      Ob/fx+iTAlUbjkUVEoNBVksO0wtVnqZNrFpv/AXoDnsomZKBLo3bX8o8
      TBnkjcaCBBvgsX1e9kYU4i90shXZPIN7w0Fm0yZTKcOtEPYKIn7hTnwz
      Lvf60TxwM1lpBkQDgpmRLYw918kUHAa6VMYP+4nP6nXAaI+Xg1sVrn8s
      /3sLp3drxA/4OPdM50hU5caJAF/XLB4tGq6ji4f8jL8psrT+5w76tius
      lCTLesPmSLfGpxULKaEz6KFDgcEdGkVT8njJcPX1IbZ1ym1/pna/828D
      6ACYqw/rCwAAAABJRU5ErkJggg=="
    />
    <!-- INCLUDE CSS -->
    {% tailwind_css %}
  </head>
  <body class="bg-white">
    <div class="max-w-screen-xl mx-auto h-screen grid grid-rows-layout">
      {% include 'includes/messages.html' %}
      <div class="flex flex-col justify-center sm:py-12">
        <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
          <h1 class="font-bold text-center text-2xl mb-2">Авторизация на сайте</h1>
          <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="px-5 py-7">
                <!-- prettier-ignore -->
                {{ form.as_p }}
                <button
                  type="submit"
                  class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block mt-5"
                >
                  <span class="inline-block mr-2">Авторизоваться</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="w-4 h-4 inline-block"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 8l4 4m0 0l-4 4m4-4H3"
                    />
                  </svg>
                </button>
              </div>
            </form>
            <div class="py-5">
              <div class="grid grid-cols-2 gap-1">
                <div class="text-center sm:text-left whitespace-nowrap">
                  <a
                    href="{% url "password_reset" %}"
                    class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      class="w-4 h-4 inline-block align-text-top"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                      />
                    </svg>
                    <span class="inline-block ml-1">Забыли пароль?</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
