<!DOCTYPE html>
<html lang="ru" class="dark">
  {% load static tailwind_tags %}
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="data:image/png;base64,
      iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IA
      rs4c6QAAAe9JREFUOE+lk7trU2EYh58v55wkTSIhiDbFIVrrDUEsRVux
      Th2KQkE7KMWMLmLBP0B0kSyiuDgU6iI6tAoF8VIVRBEHFSPFpTalxIDF
      1kJCk5PbuX2SU5sIESHkXd/f97y/9/KJ2GTuKsgrQuCjhZCSKoiEiE1m
      K60+3qxTg4idd7OyhcJNUhfQu01hV1hxk7aUZPIOc2t2XawIGI5p7Iko
      LOZsUjkbS8L3vIMLSBwPAJL5rENN3B9V8atw4VURB5gYCpBed/jw06Kv
      U+VMj5c7cxWmU0YD8O6HycuMWa86dSrErWTZdXP/ZIjhmUI9d62/g4Wc
      /X/AxFCQB/NVPq9avD0b5tJrneSvjbZCWs0vFE0aDr5lLd4vWygeOBpV
      Ob/fx+iTAlUbjkUVEoNBVksO0wtVnqZNrFpv/AXoDnsomZKBLo3bX8o8
      TBnkjcaCBBvgsX1e9kYU4i90shXZPIN7w0Fm0yZTKcOtEPYKIn7hTnwz
      Lvf60TxwM1lpBkQDgpmRLYw918kUHAa6VMYP+4nP6nXAaI+Xg1sVrn8s
      /3sLp3drxA/4OPdM50hU5caJAF/XLB4tGq6ji4f8jL8psrT+5w76tius
      lCTLesPmSLfGpxULKaEz6KFDgcEdGkVT8njJcPX1IbZ1ym1/pna/828D
      6ACYqw/rCwAAAABJRU5ErkJggg=="
    />
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css"
    />
    {% tailwind_css %}
  </head>
  <body>
    <div class="max-w-screen-xl mx-auto h-screen">
      {% include 'header.html' %}
      <!-- prettier-ignore -->
      {% block content %}
      <!-- prettier-ignore -->
      {% endblock %}
    </div>
    <script>
      $('#datepicker')
        .datepicker({
          dateFormat: 'dd.mm.yy',
          firstDay: 1,
          monthNames: [
            'Январь',
            'Февраль',
            'Март',
            'Апрель',
            'Май',
            'Июнь',
            'Июль',
            'Август',
            'Сентябрь',
            'Октябрь',
            'Ноябрь',
            'Декабрь',
          ],
          dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
          duration: 'fast',
          showOn: 'both',
          buttonText: '',
        })
        .attr('autocomplete', 'off')
    </script>
    <script>
      $('#datepicker2')
        .datepicker({
          dateFormat: 'dd.mm.yy',
          firstDay: 1,
          monthNames: [
            'Январь',
            'Февраль',
            'Март',
            'Апрель',
            'Май',
            'Июнь',
            'Июль',
            'Август',
            'Сентябрь',
            'Октябрь',
            'Ноябрь',
            'Декабрь',
          ],
          dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
          duration: 'fast',
          showOn: 'both',
          buttonText: '',
        })
        .attr('autocomplete', 'off')
    </script>
    <script>
      $('#datepicker3')
        .datepicker({
          dateFormat: 'dd.mm.yy',
          firstDay: 1,
          monthNames: [
            'Январь',
            'Февраль',
            'Март',
            'Апрель',
            'Май',
            'Июнь',
            'Июль',
            'Август',
            'Сентябрь',
            'Октябрь',
            'Ноябрь',
            'Декабрь',
          ],
          dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
          duration: 'fast',
          showOn: 'both',
          buttonText: '',
        })
        .attr('autocomplete', 'off')
    </script>
    <script>
      $('#datepicker4')
        .datepicker({
          dateFormat: 'dd.mm.yy',
          firstDay: 1,
          monthNames: [
            'Январь',
            'Февраль',
            'Март',
            'Апрель',
            'Май',
            'Июнь',
            'Июль',
            'Август',
            'Сентябрь',
            'Октябрь',
            'Ноябрь',
            'Декабрь',
          ],
          dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
          duration: 'fast',
          showOn: 'both',
          buttonText: '',
        })
        .attr('autocomplete', 'off')
    </script>
  </body>
</html>
